<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap-flatly-3.3.7.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome-4.6.3.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-lato.css') }}">
            <link rel="stylesheet" href="{{ asset('css/highlight-solarized-light.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block body_id %}{% endblock %}">
        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('post_index') }}">
                                Isobar test
                            </a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">

                                {% block header_navigation_links %}

                                    {% if app.user %}
                                        <li>
                                            <a href="#">{{ app.user.username }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('security_logout') }}">
                                                <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'Logout' }}
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('security_login') }}">
                                                <i class="fa fa-sign-in" aria-hidden="true"></i>{{ 'Sign in!' }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endblock %}

                            </ul>
                        </div>
                    </div>
                </div>
            </header>

        {% endblock %}

        <div class="container body-container">

            {% block body %}
            {% endblock %}

        </div>

        {% block javascripts %}

            <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('js/moment.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-3.3.7.min.js') }}"></script>
            <script src="{{ asset('js/highlight.pack.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>

        {% endblock %}
    </body>
</html>
