{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post edit</h1>
    <div class="row">
        <div class=" col-md-10">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="btn" type="submit" value="Edit" />
            {{ form_end(edit_form) }}

        </div>
        <div class="col-md-2">
            <ul class="nav">
                <li>
                    <a href="{{ path('post_index') }}">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
