{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-default pull-right" role="button" href="{{ path('post_new') }}">Create a new post</a>
    {% endif %}
    <h1>Posts list</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Image</th>
                {% if is_granted('ROLE_USER') %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.title }}</a></td>
                <td>{{ post.slug }}</td>
                <td>{{ post.description }}</td>
                <td><image style="max-width:100px; max-height:100px;" src="{{ asset('uploads/images/' ~ post.image) }}"></td>
                {% if is_granted('ROLE_USER') %}
                <td>
                    <ul class="nav">
                        <li>
                            <a class="btn" role="button"  href="{{ path('post_show', { 'id': post.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn" role="button"  href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ pagerfanta(posts, 'twitter_bootstrap3', { routeName: 'post_index_paginated' }) }}
    </div>


{% endblock %}
