{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post creation</h1>
    <div class="row">
        <div class=" col-md-10">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Create" />
            {{ form_end(form) }}
        </div>
        <div class="col-md-2">
            <ul class="nav">
                <li>
                    <a href="{{ path('post_index') }}">Back to the list</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
