{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>
    <div class="row">
        <div class=" col-md-10">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ post.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ post.title }}</td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td>{{ post.slug }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ post.description }}</td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td><image style="max-width:100px; max-height:100px;" src="{{ asset('uploads/images/' ~ post.image) }}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <ul class="nav">
                <li>
                    <a href="{{ path('post_index') }}">Back to the list</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li>
                    <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
