{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block body %}

    {% if error %}

        <div class="row">
            <div class="col-sm-5">
                <div class="alert alert-danger">
                    {{ error.messageKey }}
                </div>
            </div>
        </div>

    {% endif %}

    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                <form action="{{ path('security_login') }}" method="post">
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'Login' }}</legend>
                        <div class="form-group">
                            <label for="username">{{ 'Email' }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">{{ 'Password' }}</label>
                            <input type="password" id="password" name="_password" class="form-control" />
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                      
                        <button type="submit" class="btn btn-primary btn-md">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'sign in' }}
                        </button>
                        <a class="btn btn-link btn-md" href="{{ path('user_registration') }}">
                            <i class="fa fa-user" aria-hidden="true"></i>{{ 'Register' }}
                        </a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
