{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div id="main" class="col-sm-5">
            <div class="well well-lg">
                <fieldset>
                    <legend><i class="fa fa-user" aria-hidden="true"></i> {{ 'Registration ' }}</legend>
                </fieldset>
                {{ form_start(form) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}

                    <button class="btn btn-primary" type="submit">Register!</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
